body
{
    background-color:black;
    font-family: 'Times New Roman', Times, serif;
}

section
{
    background-color: white;
    padding: 20;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
}

h1 
{
    color:grey;
    font-size: xx-large;
    margin: 0;
}

label
{
    text-align: left;
}

input
{
    text-align: left;
}

table
{
    text-align: left;
}

div
{
   padding-left: 20;
}

button
{
    margin-top: 10;
}

tr
{
    margin-right: 5;
}