body
{
    background-color:white;
}
h1 {color:green;}

label
{
    text-align: left;
}

input
{
    text-align: left;
}

table
{
    text-align: left;
}

form
{
   padding-left: 20;
}

button
{
    margin-top: 10;
}

tr
{
    margin-right: 5;
}